@mixin flexing($val1,$val2,$val3) {
    display:flex;
    flex-direction:$val1;
    justify-content:$val2;
    align-items:$val3;
}
.Loading{
    width:100%;
    height: 100vh;
    background-color:#0f1018;
    color:white;
    font-size: 30px;
    font-family: 'Lobster', cursive;
    @include flexing(column,center,center);
    span{
        position: relative;
        width:max-content;
        font-size:40px;
        &::before{
            content:"";
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background-color:#0f1018;
            animation : goo 2s steps(5) infinite;
        }
        @keyframes goo{
            to{
                left:100%;
            }
        }
        
    }
    
}
.Default{
    width:100%;
    height: 100vh;
    @include flexing(column,center,center);
    background-color:#0f1018;
    font-family: 'Bangers', cursive;
    color:white;
}
.Main{
    width:100%;
    height:100vh;
    overflow: hidden;
}
.header{
    position: fixed;
    top: -200px;
    padding:10px 0px 10px 0px;
    left: 0;
    width:100%;
    height:5vh;
    color:rgb(16, 155, 197);
    font-size: 20px;
    font-weight: bold;
    z-index: 1;
    background-color: transparent;
    @include flexing(row,space-around,center);
    animation: topheader 1s linear forwards;
    animation-delay: 3s;
    .img{
        cursor:pointer;
    }
    .input__icon{
        width:50%;
        height:3vh;
        @include flexing(row,space-around,center);
        input{
            width:90%;
            height:3vh;
            border-radius: 5px;
            border:1px solid white;
            padding-left: 10px;
            background-color:rgb(16, 155, 197);
            &:focus{
                outline:none;
                color:white;
            }
            font-family:Arial, FontAwesome;
            &::placeholder{
                font-weight: bold;
                text-transform: uppercase;
                color:white;
            }
        }
        .img{
            margin-left:10px
        }
    }
    .img1{
        cursor: pointer;
    }
    @media only screen and (max-width:768px){
        .header__email{
            display: none;
        }
        .img1{
            display:block;
        }
    }
    
}
.add1header1{
    color:#af0c37;
    .input__icon{
        input{
            background-color:#af0c37;
        }
    }
}
.add2header2{
    color:black;
    .input__icon{
        input{
            background-color:black;
        }
    }
}
.headeradded1{
    background-color:black;
}
.headeradded2{
    background-color:white;
}
@keyframes topheader {
    to{
        top: 0px;
    }
}

.menu{
    position: fixed;
    top: 0;
    right:0;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.5);
    width:100%;
    height:100vh;
    @include flexing(row,flex-end,center);
    .menu__box{
        width:50%;
        background-color:white;
        color:rgb(16, 155, 197);
        @include flexing(row,center,center);
        @media only screen and (min-width:920px){
            width:30%;
        }
        @media only screen and (max-width:650px){
            width:100%;
        }
        .img2{
            position: fixed;
            right:20px;
            top:20px;
            cursor: pointer;
            font-size:20px;
        }
        .menu__center{
            width:90%;
            height:97vh;
            margin-top:70px;
            @include flexing(column,"" ,center);
            div{
                width:100%;
                height:50px;
                border-bottom: 1px solid rgba(0, 0, 0, 0.226);
                @include flexing(row,center,center);
                a{
                    font-size:20px;
                    text-decoration: none;
                }
            }
           
        }
    }
}
.travel1{
    position: absolute;
    width:100%;
    height:100vh;
    background-color:transparent;
    overflow:hidden;
}
.travel1::before,.travel1::after{
    content:"";
    width:50%;
    height:100vh;
    background-color:white;
    opacity: 0.5;
    position: absolute;
}
.travel1::before{
    left:0;
    animation: tv2 2s ease-in-out  forwards;
    animation-delay:2s ;
}
.travel1::after{
    right:0;
    animation: tv3 2s ease-in-out  forwards;
    animation-delay:2s ;
}

@keyframes tv2{
    to{
        left:100%;
    }
}
@keyframes tv3{
    to{
        right:100%;
    }
}

.Fetched__Main{
    width:100%;
    height:100vh;
    overflow:hidden;
    video{
        position:fixed;
        min-width: 100%;
        min-height: 100%;
        z-index: -2;
    }
    
    
}
.backgroundCOLOR{
    position:fixed;
    width: 100%;
    height: 110vh;
    z-index: -1;
    // display:none;
    opacity:0;
}
.opacityChange1,.opacityChange2,.opacityChange3{
    display:block;
}
.opacityChange1{
    opacity: 0.5;
    background-color:white;
}
.opacityChange2{
    opacity: 0.5;
    background-color:black;
}
.opacityChange3{
    opacity: 0.5;
    background-color:rgba(47, 213, 255, 0.518);
}
.Hot{
    top:0;
    bottom:0;
    right:0;
    @media only screen and (max-width:1024px){
        right:-200px;
        bottom:-200px;
    }
    @media only screen and (max-width:920px){
        right:-200px;
        bottom:-200px;
        }
    @media only screen and (max-width:768px){
        right:-200px;
        bottom:-200px;
        }
    @media only screen and (max-width:520px){
        right:-300px;
        }
}
.Bw{
    right: 0;
    bottom: 0;
   @media only screen and (max-width:1024px){
       left:0px;
   }
   @media only screen and (max-width:920px){
       left:-100px;
   }
   @media only screen and (max-width:768px){
       left:-400px;
   }
   @media only screen and (max-width:520px){
       left:-500px;
   }
}
.Cloud{
    right: 0;
    bottom: 0;
}
.Rain{
    top:0;
    left:0;
    right: 0;
    bottom: 0;
}
.Fetched__Content{
    @include flexing(row,center,center);
    width: 100%;
    min-height: 35vh;
    position: absolute;
    top:55%;
    visibility:hidden;
    padding-left:10px;
    animation:bounes 2s linear forwards;
    animation-delay:3s;
    div{
        margin-top:10px;
    }
    .IF__Content{
        width:99%;
        min-height:30vh;
        color: white;
        overflow: hidden;
        .img{color:white;}
        font-weight: bold;
    }
    .add1Class1{
        color:#af0c37;
        .img{color:#af0c37;}
        font-weight: bold;
    }
    .add1Class2{
        color:black;
        .img{color:black;}
        font-weight: bold;
    }
}
@keyframes bounes{
    0%{
        top:150%
    }
    50%{
        top:45%;
    }
    100%{
        top:55%;
        visibility: visible;
    }
}
::-webkit-scrollbar{
    display: none;
}


.Current__Temp{
    font-size:40px;
    font-weight:bold;
    width:max-content;
    margin-left: 10px;
}
.Cureent__locality{
    right:20px;
    width: max-content;
    margin-left:10px;
    .img{
        margin-left:5px;
        margin-bottom: 5px;
    }
}
.High__Low{
    margin-left: 10px;
    width:max-content;
    font-weight:bold;
    font-size:20px;
    span{
        font-weight: bold;
        font-size:25px;
        margin-left: 4px;
        margin-right:0px;
    }
}
.Content__HourlyLabel{
    margin-left: 10px;
    width:max-content;
    font-weight:bold;
    font-size:15px;
}